*,
*:before,
*:after {
  box-sizing: border-box;
}

h2{
    font: 18.5px Verdana, sans-serif;
    color: #263f87;
    border-bottom: 3px solid rgb(235, 237, 243);
    padding-bottom: 15.5px;
    margin: 8px 0 0 3px;
    letter-spacing: -0.3px;
}

body{
    margin: 5px 0 0 5px;
}

img{ 
    float: left; 
    height: 32.5px;
    width: 33.5px;
    margin-right: 10px;
}

#header{
    font: 11px/1.2 Verdana, sans-serif;
    color: #181717;
    padding: 21px 0 17px 8px;
}

#content{
    margin: -7px 0 1px 39px;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

h3{
    font: 16px Verdana, sans-serif;
    color: #4e7497;
    border-bottom: 3px solid rgb(235, 237, 243);
    margin: 0;
    font-weight: bolder;
    padding: 4px 0 14.5px 3px;
}

.form_hint{
    font: 10.1px/1.6 Verdana, sans-serif;
    color: #8a8989;
    letter-spacing: -0.05px;
}

.account-info{
    border: none;
    
}

.account-info label{
    color: #7b7c80;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    letter-spacing: -0.3px;
}

fieldset{
    border: 0;
    margin: 0;   
}

form{
    overflow: hidden;
    margin: 10px 0 35px 0;
    display: inline-block;
}

input{
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.account-info{
    padding: 0; 
}  

.account-info input{
    background: #fff;
    border: 1px solid #8a8989;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    border-radius: 2px;
    height: 21.5px;
    width: 170.5px;
}

#first_name{
    padding: 5.5px 0 0 34px;
}

#last_name{
    padding: 16px 0 0 2px;
}

#E-mail{
    padding: 11px 0 0 18px;
}

#password{
    padding: 11px 0 0 10px;
}

#country{
    padding: 0 0 0 17px;
}

#city{
    padding: 9px 0 0 26px;
}

#last_name_label{
  font-size: 13px;
  padding-left: 1px;
  letter-spacing: 0.1px;
}

#last_name_input{
  width: 170px;
  height: 22.5px;
}

#E-mail_label{
}

#E-mail_input{
}

#country_label{
}  

#country_input{
}

#city_label{
}

#city_input{
}

p{
    padding: 0;
    margin: -2px 0 20px 68px;
    font: 10px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #383737;
    font-weight: bolder;
}

h4{
    font: 13px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #4e7497;
    border-bottom: 2px solid rgb(235, 237, 243);
    padding-bottom: 4px;
    margin: -34px 0 0 0;
    font-weight: bolder;
}

select{
    width: 152px;
    height: 16px;
    font-size: 12px;
}

#school{
    padding: 0 0 0 22px;
}

#vyz{
    padding: 0 0 0 40px;
}

.account-action{
    padding: 0;
}

.account-action .btn{
    margin: 16px 0 0 31px;
    padding: 2px 30px 2px 14px;
    width: 188px;
    height: 20px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: #4e7497;
}

#agree{
    font: 10px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #8a8989;
    margin: 0 0 0 30px;
    padding: 0;
}
